<% layout('layouts/boilerplate')%>

    <main class="container mt-5 mb-5">
        <div class="row">
            <h1 class="col-6 offset-4">
                <%=category.name%> Page
            </h1>
            <div class="col-6 offset-4">
                <div class="card" style="width: 18rem;">
                    <img src=<%=category.image%> class="card-img-top" alt=<%=category.name%>>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=category.name%>
                            </h5>

                            <a href="/categories/<%=category._id%>/edit" class="btn btn-warning">Edit</a>
                            <form style=display:inline; action="/categories/<%=category._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                </div>

                <div class="mt-3">
                    <a class="btn btn-secondary" href="/" role="button">
                        Back To Home Page
                    </a>
                </div>
            </div>
        </div>
    </main>