<% layout('layouts/boilerplate')%>

    <main class="container mt-5 mb-5">
        <div class="row">
            <h1 class="text-center">HOME PAGE</h1>
            <div class="col-6 offset-4">
                <div class="mb-3">
                    <a class="btn btn-primary" href="/products/add" role="button">Add Product</a>
                </div>
                <% for (let product of products){%>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="img-fluid" src=<%=product.image%> alt=<%=product.image%>>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=product.name%>
                                    </h5>
                                    <p class="card-text">
                                        <%=product.description%>
                                    </p>
                                    <a class="btn btn-info" href="/products/<%=product._id%>" role="button">
                                        Product Page
                                    </a>
                                    <a class="btn btn-warning" href="/products/<%=product._id%>/edit" role="button">
                                        Edit
                                    </a>
                                    <form style=display:inline; action="/products/<%=product._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% }%>
            </div>
        </div>
    </main>